fastapi==0.110.0
uvicorn[standard]==0.28.0
SQLAlchemy==2.0.28
psycopg2-binary==2.9.9
asyncpg==0.29.0
alembic==1.13.1
envparse==0.2.0
pydantic-settings==2.2.1
pydantic==2.6.4
lxml==5.1.0
starlette==0.36.3
aiofiles==23.2.1
inflection==0.5.1
